# Database
DB_USER=example_user
DB_PASSWORD=example_pass
DB_URL=jdbc:postgresql://localhost:5432/sampledb

# MQTT
MQTT_USER=example_user
MQTT_PASSWORD=example_pass
MQTT_BROKER_URL=tcp://localhost:1883

# JWT
JWT_SECRET=example_secret

# Telegram
TELEGRAM_BOT_TOKEN=123456:example-bot-token
TELEGRAM_CHAT_ID=987654321